<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Aplikasi Restaurants Katalog dengan nama Raja Rasa">
  <title>Raja Rasa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
  <!-- skip-to-content -->
  <a href="#main" class="skip-content">Menuju ke konten</a>


  <header class="header">
    <nav id="drawer" class="nav">
      <a href="#" class="nav__logo">Raja-Rasa.</a>
      <a id="humberger-menu" class="humberger-menu" href="#">☰</a>
      
      <div class="nav__list__container">
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/hyuga-dewanto-kojyro-45b434221/"
              target="_blank">About</a></li>
        </ul>

      </div>
    </nav>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Selamat Datang</h1>
        <p class="hero__tagline">Temukan masakan kesukaan Anda dengan Sentuhan Khusus di Raja Rasa</p>
      </div>
    </div>
  </header>



  <!-- Content -->
  <main>
    <div class="mainContent">
      <h1>Explore Restaurants</h1>
    </div>
    <div id="main" class="mainContent">
      <div class="mainList">
        <div class="mainItem" id="mainItem"></div>
      </div>
    </div>
  </main>


  <!-- Footer -->
  <footer>
    <a href="http://instagram.com" target="_blank" class="fa-brands fa-instagram"></a>
    <a href="http://instagram.com" target="_blank" class="fa-brands fa-linkedin-in"></a>
    <a href="http://instagram.com" target="_blank" class="fa-brands fa-github"></a>
    <p>Copyright &copy 2023 - Raja Rasa</p>
    <p>Developed By <span class="spanFooter">Hyugenk</span> for Dicoding Submission</p>
  </footer>



</body>

</html>